In [1]:
import kagglehub
syedhaideralizaidi_black_friday_dataset_path = kagglehub.dataset_download('syedhaideralizaidi/black-friday-dataset')
print('Data source import complete.')

Using Colab cache for faster access to the 'black-friday-dataset' dataset.
Data source import complete.

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/black-friday-dataset/Black Friday Dataset.csv

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("/kaggle/input/black-friday-dataset/Black Friday Dataset.csv")

In [8]:
df.shape

(550068, 12)

In [9]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [10]:
df.tail()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
550063,1006033,P00372445,M,51-55,13,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,NaN,NaN,490

In [11]:
purchase = np.array(df["Purchase"])

In [12]:
print("Purchase column")
print("Mean: ",np.mean(purchase))
print("Maximum value: ",np.max(purchase))
print("Minimum value: ",np.min(purchase))

Purchase column
Mean:  9263.968712959126
Maximum value:  23961
Minimum value:  12